// Variables and mixins releavant to color theme

@use 'sass:color';

$blue: hsl(196, 68%, 55%);
$lightblue: hsl(196, 68%, 65%);
$darkblue: hsl(196, 68%, 40%);
$red: #dd3333;
$green: #00a264;
$purple: #6b3ea8;
$pink: #ea9ab2;
$darkpink: color.scale($pink, $lightness: -10%);
$darkerpink: color.scale($pink, $lightness: -20%);
$darkestpink: color.scale($pink, $lightness: -30%);

// Thematic colors

$color-font-light: black;
$color-body-light: hsl(0, 0%, 98%);
$color-surface-light: hsl(0, 0%, 85%);
$color-surface-hover-light: color.scale($color-surface-light, $lightness: 30%);
$color-comment-light: hsl(0, 0%, 70%);
$color-primary-light: hsl(172, 45%, 54%);
$color-primary-hover-light: hsl(172, 45%, 60%);

$color-font-dark: white;
$color-body-dark: #071013;
$color-surface-dark: rgb(36, 37, 38);
$color-surface-hover-dark: color.scale($color-surface-dark, $lightness: 2%);
$color-comment-dark: rgb(58, 59, 60);
$color-primary-dark: $blue;
$color-primary-hover-dark: $lightblue;

$color-secondary: $pink;
$color-secondary-hover: color.scale($color-secondary, $lightness: 30%);

// Media query based on client preference

@mixin theme($theme) {
  @if $theme == dark {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  } @else {
    @media (prefers-color-scheme: light) {
      @content;
    }
  }
}
