/*
 * Custom app styles
 *
 * Overwrites global.scss
 */

@use 'breakpoint' as *;

h1,
h2,
h3,
h4,
h5,
h6,
.h {
  font-family: 'Corben';
  line-height: 1.5;
}

h1,
.h1 {
  font-size: 2.5em;
}

.loading__boat {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  font-size: 100px;
  line-height: 100px;
  animation: float 3s infinite ease-in-out;

  &--fullscreen {
    margin: calc(50vh - 100px) auto 0;
  }
}

.overlay,
[data-reach-dialog-overlay] {
  z-index: 100;
}

@keyframes float {
  0% {
    transform: translate(0, -10px);
  }
  25% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  75% {
    transform: translate(5px, 7px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
