/*
 * Custom app styles
 *
 * Overwrites global.scss
 */

@use 'breakpoint' as *;
@use 'fonts' as *;
@use 'theme' as *;
@use 'sass:color';

:root {
  --color-primary: hsl(172, 45%, 54%);
  --color-primary-hover: hsl(172, 45%, 60%);
  --color-secondary: #ea9ab2;
  --color-secondary-hover: color.scale($color-secondary, $lightness: 15%);

  @include theme(dark) {
    --color-primary: hsl(196, 68%, 55%);
    --color-primary-hover: hsl(196, 68%, 65%);
  }
}

.variant--contained.color--secondary {
  color: rgb(67, 67, 67);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h {
  font-family: 'Corben';
  line-height: 1.5;
}

h1,
.h1 {
  font-size: 2.5em;
}

.loading__boat {
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  font-size: 100px;
  line-height: 100px;
  animation: float 3s infinite ease-in-out;

  &--fullscreen {
    margin: calc(50vh - 100px) auto 0;
  }
}

.overlay,
[data-reach-dialog-overlay] {
  z-index: 100;
}

@keyframes float {
  0% {
    transform: translate(0, -10px);
  }
  25% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  75% {
    transform: translate(5px, 7px);
  }
  100% {
    transform: translate(0, -10px);
  }
}
