.index {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.row {
  display: flex;
  gap: 1em;
  justify-content: space-around;
  align-items: center;

  & > *:first-child {
    text-align: right;
  }

  & > *:first-child,
  & > *:last-child {
    flex-basis: 50%;
    flex-shrink: 0;
  }
}
