@use 'breakpoint' as *;

.index {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  position: relative;

  h1 + * {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
  }
}

.row {
  display: flex;
  gap: 1em;
}
