@use 'sass:math';
@use 'styles/breakpoint' as *;

.section,
.main,
.footer {
  box-sizing: border-box;
  max-width: 1280px;
  margin: 0 auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

.header {
  box-sizing: border-box;
  width: 100%;
  padding: 1em;
  display: flex;
  justify-content: space-between;

  h1 {
    margin: 0;

    a {
      text-decoration: none !important;
    }
  }

  [class^='avatar'] {
    cursor: pointer;
  }
}

.main {
  line-height: 1.6;
}

.footer {
  position: relative;
  margin-top: calc(var(--spacing) * 3);
  margin-bottom: var(--spacing);
  line-height: 1.6;
  font-size: 95%;

  @include breakpoint(screen) {
    margin-top: var(--spacing);
  }

  nav ul {
    margin: 0;
    padding: 1em 0 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--color-comment);

    @include breakpoint(screen) {
      padding: 0;
      border: none;
      flex-direction: row;
    }

    li {
      margin: 0 1em 0 0;
      padding: 0;

      &:first-child {
        font-weight: bold;
      }
    }
  }
}
