.image,
.image > img {
  width: var(--size);
  height: var(--size);
  background-color: var(--color-primary);
  border-radius: 50%;
  object-fit: cover;
}

.noImage {
  font-size: 4em;
  line-height: var(--size);
  text-align: center;
}
