@use 'breakpoint' as *;

.heading {
  @include breakpoint(screen) {
    font-size: 200%;
    padding-right: 3em;
  }
}

.hero {
  position: relative;

  [class~='button'] {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    white-space: nowrap;

    &:hover + img {
      opacity: 0.9;
    }
  }

  img {
    object-fit: contain;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
}
