@use 'breakpoint' as *;

.heading {
  font-family: 'Corben';
  font-size: 140%;
  line-height: 1.3;

  @include breakpoint(screen) {
    font-size: 235%;
    padding-right: 3em;
  }
}

.hero {
  position: relative;

  [class~='button'] {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Corben';
    font-weight: bold;
    white-space: nowrap;

    @include breakpoint(screen) {
      font-size: 150%;
    }

    &:hover + img {
      opacity: 0.9;
    }
  }

  img {
    object-fit: contain;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
}
