.profile {
  display: flex;
  flex-direction: column;
}

.heading {
  display: flex;
  align-items: center;

  strong {
    font-size: larger;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-left: 1em;
  }

  li + li {
    margin-top: 0.5em;
  }
}

.hailButton {
  font-family: Corben;
  font-weight: bold;
}
